<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="http://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
</head>
<body>
<ul id="app">
  <li v-for='item in items'>
    <p v-text='item.lable'></p>
  </li>
</ul>
<script>
  var app = new Vue({
    el:'#app',
    data:{
        items:[
          {
              lable:'apple'
          },
          {
              lable:'banana'
          }
        ]
    },
  })
</script>
<style>
 li,p{
   list-style-type: none
      }
</style>
</body>
</html>
